* {
    font-family: 'Roboto';
}
body, html {
    height: 100%;
    margin: 0;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-30 {
    margin-left: 30px;
}

.bg { 
    /* The image used */
    background-image: url("../images/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-image img {
    width: 40vw;
}
.box-container {
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.box {
    width: 10vw;
    min-height: 200px;
    padding: 10px;
    background-color: white;
    position: relative;
}
.box-description {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;

    font-weight: bold;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px 15px 10px 15px;
    border: 1px solid #449d48;
    cursor: pointer;
}
.btn-primary {
    background-color: #3c8c40;
    color: white;
    font-weight: 500;
    border-radius: 3px;
}
.btn-primary:hover {
    background-color: #4CAF50;
}
.text-left {
    float: left;
}
.text-right {
    float: right;
}
.title {
    color: white;
}

.form-group {
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .0rem .375rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-container {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}
.content-container {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.news-container {
    padding: 20px;
}
.news-title {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.news-date {
    font-size: 12px;
    float: right;
    color: #999;
}