* {
    font-family: 'Roboto';
}
body{
    margin: 0;
}

.admin-container
{
	margin-left: 15%;
	height:1000px;
}
.admin-content
{
    margin-left:15px;
}

/* side-navbar style */
.side-navbar{
    width: 15%;
    position: fixed;
    background-color: #56a65a;
    height: 100%;
}
.side-navbar h2{
    padding-left: 12px;
    color:white ;
}
.side-navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
}
.side-navbar li a, .dropbtn {
	display: block;
    color: #000;
    font-size: 18px;
    color:white;
	padding: 12px 16px;
	text-decoration: none;
}
.side-navbar li a.active {
	background-color: #4CAF50;
	color: white;
}
.side-navbar li a:hover:not(.active) {
	background-color: #555;
	color: white;
}
.side-navbar li.dropdown {
	display: inline-block;
	width: 100%;
}
.side-navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}  
.side-navbar .dropdown-content a {
	color: black;
	padding: 12px 16px;
	font-size: 15px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.side-navbar .dropdown-content a:hover {
	background-color: #f1f1f1;
}
.side-navbar .dropdown:hover .dropdown-content {
	display: block;
}
/* end of side-navbar style */

/* style for top-navbar */
.top-navbar{
    width:100%;
    background-color:#696969;
    color:white;
}
.top-navbar .top-navbar-text {
    display: block;
    color: white;
    padding: 14px 16px;
  }
.top-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .top-navbar li {
    float: left;
  }
  
  .top-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .top-navbar li a:hover:not(.active) {
    background-color: #111;
  }
  
  .top-navbar .active {
    background-color: #4CAF50;
  }
/* end of top-navbar style */

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.box-shadow {
    box-shadow:2px 5px 5px 5px rgba(0,0,0,0.1);
}
.text-muted {
    color: #666;
}
.text-center {
    text-align: center;
}
.color-primary {
    color: #449d48;
}
.color-secondary {
    color: #4CAF50;
}
.form-group {
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .0rem .375rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.login-container {
    width: 40%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 5px; 
    margin-top: 20px;
}

.register-container {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 5px; 
    margin-top: 20px;
}

.btn {
    padding: 10px 15px 10px 15px;
    border: 1px solid #449d48;
    cursor: pointer;
}
.btn-primary {
    background-color: #3c8c40;
    color: white;
    font-weight: 500;
    border-radius: 3px;
}
.btn-primary:hover {
    background-color: #4CAF50;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #3c8c40;
}
